<h2 class="page-header">Edit Author</h2>
<form action="/author/<%= author.id %>?_method=PUT" method="POST">

    <%- include('../partials/_form_feilds') %>
    <a href="/author/<%= author.id %>">Cancel</a>
    <button type="submit">Update</button>
</form>