<h2 class="page-header">New Author</h2>
<form action="/author" method="POST">

    <%- include('../partials/_form_feilds') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/author">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>